<div class="container-fluid container-table col-sm-12" style="background:lightgreen">
	<div class="row vertical-center-row">
		<div class="text-center col-md-10 col-md-offset-1" style="background:white">
			<div class="row">
				<h1 style="color:darkgreen"><strong>Demo 2</strong></h1>
			</div>
			<div class="row">

				<table class="table">
					<thead>
						<tr>
							<th>Genger</th>
							<th>Percentage</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="x in genderStats track by $index">

							<td style="text-align:left">{{x.gender}}</td>
							<td style="text-align:left">{{x.percentage}}%</td>
							<td style="text-align:left">
								<button type="button" class="btn btn-default" style='background:grey;color:white' ng-click="removeGender($index)">REMOVE</button>
							</td>
						</tr>
						<tr>
								
							<td style="text-align:left">
								<select ng-disabled="genderStats.length==2" style="width:100%" ng-model='chosen.gender'>
									<option disabled selected>Chose a gender</option>
									<option ng-repeat="x in genders" ng-if="genderStats.length<3 && x!=genderStats[0].gender" value="{{x}}">{{x}}</option>
								</select>
							</td>
							<td style="text-align:left">
								<select ng-disabled="genderStats.length==2" style="width:100%" ng-model='chosen.percentage'>
									<option disabled selected>Chose a percentage</option>
									<option ng-repeat="x in percentages" ng-if="x<=100-genderStats[0].percentage" value="{{x}}">{{x}}%</option>
								</select>
							</td>
							<td style="text-align:left">
								<button ng-disabled="genderStats.length==2" type="button" class="btn btn-default" style='background:green;color:white' ng-click="addGender(chosen)">ADD</button>
							</td>

						</tr>

					</tbody>
				</table>

			</div>

			<div class="row">

			</div>
			<div class="row" style="height:4em">

				<button type="button" class="btn btn-default" style='background:green;color:white' ng-click="showView('mainPage.html')">BACK TO HOME PAGE</button>

			</div>

		</div>
	</div>
</div>