<div class="container-fluid container-table col-sm-12" style="background:silver">
	<div class="row vertical-center-row">
		<div class="text-center col-md-8 col-md-offset-2" style="background:white">
			<div class="row">
				<h1><strong>Home Page</strong></h1>
			</div>
			<div class="row" style="height:2em">
			</div>
			<div class="row" style="height:4em">
			
                <button type="button" class="btn btn-default" style='background:red;color:white' ng-click="showView('demo1.html')">DEMO1</button>
                <button type="button" class="btn btn-default" style='background:green;color:white' ng-click="showView('demo2.html')">DEMO2</button>
			</div>
		</div>
	</div>
</div>